body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.d-flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 200px;
    object-fit: cover;
}

.card-img-top.bg-secondary {
    background-color: #6c757d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.card-text {
    color: #6c757d;
}

.btn-primary {
    background-color: #8bc34a;
    border-color: #8bc34a;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #6d4c41;
    border-color: #6d4c41;
}